@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

.App {
  margin: 0;
  padding: 0 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8ecae6;
  color: #2b2d42;
}

.input {
  align-self: flex-end;
  width: 80%;
  margin: 2em 0;
}
label{
  font-size: 1.5em;
  font-weight: bold;
}
textarea {
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;

  background-color: #edf2f4;
  width: 99%;
  height: 40vh;
  font-family: 'IBM Plex Mono', monospace;

}
 textarea:focus {
  box-shadow: 0 0 5px rgba(27, 73, 101, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(27, 73, 101, 1);
}

  textarea::-webkit-scrollbar{
    display: none;
  }

.output {
  /* margin: 2em 0; */
  width: 80%;
  align-self: flex-start;
  background-color: #ddd;
  padding: 0 5px;
}
.preview {
  align-self: flex-start;
  margin-bottom: 5px;
}
code , blockquote{
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}
blockquote {
  border-left: 5px solid #8ecae6;
}
pre>code{
  display: inline-block
}
p>img{
  display: flex;
  justify-content: space-around;
}